@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');

h2 {
  font-family: 'Londrina Solid', cursive;
  font-size: 40px;
}

/* .image-upload>input {
    display: none;
  } */

  #upload-img {
    margin-top: 50%;
    height: 80px;
    width: 50px;

  }

#card {
  background-color: black;
}

.PostBtn {
  background-color: rgb(72, 70, 70);
  padding-left: 50px;
  padding-right: 50px; 
  font-family: 'Londrina Solid', cursive;
}

.PostBtn:hover {
  background-color: #520000;
}