
@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    background-color: black;
}

h2 {
    font-family: 'Poppins';
    font-size: medium;
    text-align: center;
    font-weight: bold;

}

h3 {
    font-family: 'Poppins';
    font-size: small;
}
