body {
    background-color: #111;
    color: #fff;
}

/* Results Container */
.result-container {
    background-color: #000000;
}

.result-container h2 {
    color: #9a0707;
    font-size: 30px;
}

.result-container h3 {
    color: #9a0707;
    font-size: 18px;
}

.result-container p {
    color: #9a0707;
    font-size: 15px;
    padding: 3px;
}

.result-container img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 5px;
}

.question-container h2 {
    color: #9a0707;
    font-size: 30px;
}

.question-container p {
    color: #ffffff;
}

/* Options Container */
.options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: auto;
    margin: 6px;
    border-radius: 10px;
    background-color: #333;
    color: #ffffff;
    font-size: 14px;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>🔪</text></svg>") 16 0, auto;
    /*!emojicursor.app*/
}

.option img {
    width: 120px;
    height: 120px;
    margin-block: unset;
    object-fit: cover;
    border: 1px transparent;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
}

.option span {
    margin-top: 5px;
    text-align: center;
}

.option.selected img {
    background-color: #555;
    border: 2px solid #9a0707;
    border-color: #9a0707;
    filter: saturate(200%);
}

/* Restart Button */
button {
    padding: 10px 20px;
    margin: 15px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>🔪</text></svg>") 16 0, auto;
    /*!emojicursor.app*/
}

button:hover {
    background-color: #9a0707;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>🔪</text></svg>") 16 0, auto;
    /*!emojicursor.app*/
}

button:disabled {
    opacity: 0.5;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>🔪</text></svg>") 16 0, auto;
    /*!emojicursor.app*/
}

.footer {
    margin: 80px;
    width: 400px;
    margin-left: 0px;
}