.card-body {
    border-radius: 5px;
    background-color: gray;
    width: 450px;
    height: 600px;
    display: flex;
}

.container {
    justify-content: center;
    align-items: center;
    position: absolute;
}

.outer {
    padding: 5px;
    filter: drop-shadow(5px 5px 10px black)
}

.badges {
    padding-bottom: 10px;
}

.bio {
   padding: 20px; 
   resize: none;
}