/* @import url('https://fonts.cdnfonts.com/css/horror-type'); */
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

.name {
    background-color: #030303;
    color: #9a0707;
    text-align: left;
    font-family: 'Nosifer', sans-serif;
    font-size: 2em;
    letter-spacing: 3px;
    text-shadow: 0 0 5px 2px white;
    padding-left: 25px;
    padding-top: 10px;
  }
