@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

body {
    background-color: black;
    background-image: linear-gradient(to top right, #4b0a0a, black);
  }

  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
  }

  .login-container {
    /* background-color: #363535; */
    background-image: url(./3839661.jpeg);
    background-size: 350px;
    padding: 25px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 0 10px 0 white;
  }

  h2 {
    color: #9a0707;
    text-align: center;
    font-family: 'Nosifer', sans-serif;
    font-size: 3em;
    letter-spacing: 3px;
    text-shadow: 0 0 6px 3px rgb(255, 255, 255);
    margin-bottom: 30px
  }

  .form {
    margin-bottom: 50px;
  }

  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #ffffff;
  }

  .form-label {
    color: #fff;
  }

  .forgotPassword a {
    color: #fff;
    text-decoration: none;
  }

  .submit {
    background-color: #9a0707;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 0 10px 0;
  }

  .text-white-50 {
    color: #800000;
  }

  .text-white-50 a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }

  p {
    color: white;
  }