@import url('https://fonts.cdnfonts.com/css/horror-type');

body {
    background-color: black;
    background-image: linear-gradient(to top right, #520000, black);
  }

  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .login-container {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 0 5px 2px white;
  }

  h2 {
    color: #800000;
    text-align: center;
    font-family: 'Horror Type', sans-serif;
    font-size: 8em;
    letter-spacing: 7px;
    text-shadow: 0 0 5px 2px white;
  }

  .form {
    margin-bottom: 20px;
  }

  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #ffffff;
  }

  .form-label {
    color: #fff;
  }

  .forgotPassword a {
    color: #fff;
    text-decoration: none;
  }

  .submit {
    background-color: #800000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .text-white-50 {
    color: #800000;
  }

  .text-white-50 a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }

  p {
    color: white;
  }

  .link {
    color: gray;
    font-weight: bold;
  }

  .link:hover {
    color: red;
  }